.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  
  width: 50%;
  height: 135px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgb(0, 26, 255);
}

.card .card-description{
  font-family: Arial, sans-serif;
  color:black;
}
.button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border:none;
  cursor: pointer;
}
.student {
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid black;
}
.student p{
  margin:0;
}
.welcome-messgae {
  font-size: 2.5em;
  background-color: green;
  color: white;
  padding:10px;
  border-radius: 20px;
  margin: 0;
}
.login-prompt {
  font-size: 2.5em;
  background-color: rgb(128, 0, 0);
  color: white;
  padding:10px;
  border-radius: 20px;
  margin: 0;
}

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color:grey;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: aquamarine;
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: rgba(24, 23, 23, 0.281);
  text-align: center;
  margin:0;
}
.list-items li:hover {
      color: yellow;
      cursor:pointer;
}

.counter-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif

}

.count-display {
  font-size: 10em;
  margin-top:0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 0px;
  background-color: aqua;
  border:none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: rgb(55, 151, 151);
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 50px;
  font-size: 3rem;
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  margin-bottom: 25px;
  transition: 0.25 ease;
}
.color-display p{
  color:rgb(53, 58, 58);
  font-size: 2rem;
  text-align: center;
}
label{
  font-size: 1.5rem;
}

input[type="color"] {
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
}
button{
  color:white;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: chartreuse;
}
.add-button:hover{
  background-color: rgba(8, 211, 8, 0.918);
}
.delete-button{
  background-color: rgba(255, 0, 0, 0.733);
}
.delete-button:hover{
  background-color: rgba(172, 5, 5, 0.966);
}
.move-button{
  background-color: rgba(0, 132, 255, 0.733);
}
.move-button:hover{
  background-color: rgba(4, 65, 145, 0.966);
}

input[type="text"] {
  font-size: 1.6rem;
  padding:10px;
  border: 2px solid rgb(238, 230, 230);
  border-radius: 5px;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(190, 177, 177);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.text{
  flex:1
}
.delete-button, .move-button {
  padding:8px 12px;
  font-size: 1.4rem;
  margin:5px 5px;
}